# Path
export PATH=/usr/local/bin:$PATH
export PATH=/usr/local/sbin:$PATH
export PATH=$DOTFILES/bin:$PATH
export PATH=/usr/local/share/npm/bin:$PATH
export PATH=$HOME/Library/Python/2\.7/bin:$PATH
#export PATH=~/.rbenv/shims:$PATH

# Node
export NODE_ENV=development