[user]
  email = sasha.langolf@gmail.com
  name = Aleksandr Langolf
[core]
  excludesfile = ~/.gitignore
  filemode = false
  autocrlf = input
  editor = nvim
[push]
  default = simple
[credential]
  helper = osxkeychain
[merge]
  tool = vimdiff
